.game-information {
	float: left;
	width: 25%;
	border: 1px solid #ccc;
	height: 450px;
	padding: 10px;

	h2,
	> div {
		margin: 0 0 10px;
		overflow: hidden;
	}

	input {
		float: left;
		margin: 0 0 10px;
	}
}

.game-board {
	width: 850px;
	float: right;
	overflow: hidden;
	border: 1px solid #ccc;
	height: 450px;
	position: relative;

	.player {
		display: block;
		width: 25px;
		height: 25px;
		position: absolute;
	}
}

.button {
	background: grey;
	padding: 5px;
	display: block;
	float: left;
	clear: left;
}

.controls {
	position: relative;
	overflow: hidden;
	width: 250px;
	margin: 0 0 10px;

	a {
		display: block;
		width: 80px;
		height: 80px;
		background: grey;
		float: left;
		margin: 0 2px 0 0;
		text-align: center;
		line-height: 80px;
		font-size: 11px;

		&.up {
			margin: 0 82px 2px;
		}
	}
}