<div class="game-information">
	<div ng-show="status == 0">
		<h2>Join game</h2>
		<input type="text" ng-model="app.username" />
		<a ng-click="joinGame(app.username)" class="button">Join game</a>
	</div>

	<div ng-show="status == 1">
		<controls></controls>
	</div>

	<h2>Players in game:</h2>
	<ul>
		<li ng-repeat="user in users">{{user.username}}</li>
	</ul>
</div>

<div class="game-board">
	<div class="player" ng-repeat="user in users" style="background: {{user.color}}; top: {{userService.getTopPosition(user)}}; left: {{userService.getLeftPosition(user)}};"></div>
</div>
